/* Sidebar blur added */

.mainDrawer, .drawer-open{
    backdrop-filter: blur(12px);
}

/* Get rid of menu options borders */

.listItem-border{
    border-style: none;
}

/* Adding hover effect to menu options */

    .listItem:hover{
        background: rgba(0, 0, 0, 0.6);
        transition: 0.2s;
}

/* Adding transitions to menu options */

.listItem{
    transition: 0.2s;
}

/* Changes color of ribbon on movies/shows pages */

.detailRibbon{
    background: rgba(0, 0, 0, 0.35);
    }